<p id="notice"><%= notice %></p>
<p>
  Welcome: <b><%= session[:username] %></b> 
  <br>
  <a href="/access">Log Out</a> | <a href= <%= "/users/#{session[:user_id]}" %>>My Account</a>
</p>
<h1>Upcoming Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Location</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <% if Date.today <= event.date %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.body %></td>
          <td><%= event.date %></td>
          <td><%= event.location %></td>
          <td><%= event.creator.name %></td>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'attend', "/attend/#{event.id}" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h1>Past Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Location</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <% if Date.today > event.date %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.body %></td>
          <td><%= event.date %></td>
          <td><%= event.location %></td>
          <td><%= event.creator.name %></td>
          <td><%= link_to 'Show', event %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>My created events</h2>
<% @user.own_events.each do |e| %>
  <p><b>Event:</b> <%= e.title %> <b>Date:</b> <%= e.date %></p>
<% end %>

<br>

<%= link_to 'New Event', new_event_path %>
