<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Attend:</strong>
  <% @event.attendances.each do | e | %>
  	<p> <%= e.user.name %></p>
  <% end %>
</p>


<%= link_to 'Back', events_path %>
