<p id="notice"><%= notice %></p>
<h2>Event Info</h2>
<p>
  <strong>Name:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>
<br>
<br>
<p>
  <h2>Attendees:</h2>
  <% @event.attendances.each do | e | %>
  	<p> <%= e.user.name %></p>
  <% end %>
</p>


<%= link_to 'Back', events_path %>
